*{
  padding: 0;
  margin: 0;
}

#container{
  width: 100vw;
  height: 100vh;
  overflow: inherit;
}

#intro-text{
  position: absolute;
  left: 50%;
  margin-left: -35%;
  width: 70%;
  text-align: center;
  transform: rotatex(60deg);
  transition: linear 10s;
  animation: scroll 10s infinite;
  -webkit-animation: scroll 10s infinite;
}

@keyframes scroll {

  0%{
    font-size: 6vw;
    top: 100%;
    width: 150%;
    left: 50%;
    margin-left: -75%;
  }

  100%{
    font-size: 0vw;
    top: 20%;
    width: 0%;
    left: 50%;
    margin-left: 0%;
  }

}
